Repository BrigadaSOS/brigadasos.xyz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, cspell --no-must-find-files

Create .pages.yml (via Pages CMS)
  .pages.yml
Due: prettier --write

Hide draft pages
  docs/otras-guias/ScanEbook.mdx
  docs/otras-guias/setup-steam-deck.mdx
Due: none

Setup Pages CMS
  .pages.yml
Due: prettier --write

Remove Pages CMS integration
  .pages.yml
Due: prettier --write

Remove editUrl
  docusaurus.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: (((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,jsonc,yml,yaml})) or (any of: *.{css,scss})) or (any of: *.md)
  markdownlint-cli2 --fix: any of: *.md
  cspell --no-must-find-files: any of: *.md
